.castContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}
.error {
  font-size: 20px;
  font-weight: 700;
  color: brown;
}
.subTitle {
  margin-bottom: 8px;
}
.gallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.info {
  font-style: italic;
}
.infoEl {
  font-weight: 500;
  text-decoration: underline;
}
