.pageContainer {
  padding: 15px;
}
.error {
  font-size: 20px;
  font-weight: 700;
  color: brown;
}
.backLink {
  font-size: 20px;
  font-weight: 700;
  color: #7e5338;
}
.backLink:hover {
  color: #cf813a;
}
.subtitle {
  font-size: 20px;
  font-weight: 700;
}
.detailsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: underline;
  font-size: 18px;
  border-bottom: #7e5338 solid 2px;
}
.link:hover {
  color: blue;
}
